@model IEnumerable<WebRole1.Models.ARCustRemit>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script src="~/Scripts/autocomplete.js"  type="text/javascript"></script>
<link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css"/>
<script src="~/Scripts/jquery-1.10.2.js"  type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"  type="text/javascript"></script>




<script type="text/javascript">

    $(document).ready(function () {
        $("#searchap").click(function () {

           
            $("#loading1").addClass("isloading");
            $.ajax({
                type: "POST",
                url: "/ARCustRemit/Search",
                data: { recordnumber: $("#recordnumber").val(), chkdepdate: $("#chkdepdate").val(), tochkdepdate: $("#tochkdepdate").val(), checknumber: $("#checknumber").val(), routingnumber: $("#routingnumber").val(), chkaccnumber: $("#chkaccnumber").val(), lockbox: $("#lockbox").val(), sortOrder: "" },
                success: function (data) {
                    $("#divPartialViewAR").html(data);
                    $("#loading1").removeClass("isloading");
                },
                error: function () {
                    $("#divPartialViewAR").html("<h1>No Results</h1>");
                    $("#loading1").removeClass("isloading");
                }


            });

        });
    

    
        $(function () {
            $("#recordnumber").autocomplete({
                source: '@Url.Action("GetAutoCompleteData")'

            });
        });

        $("#recordnumber").keyup(debounce(function () {
            $("#loading1").addClass("isloading");
        $.ajax({
            type: "POST",
            url: "/ARCustRemit/Search",
            data: { recordnumber: $("#recordnumber").val(), chkdepdate: $("#chkdepdate").val(), tochkdepdate: $("#tochkdepdate").val(), checknumber: $("#checknumber").val(), routingnumber: $("#routingnumber").val(), chkaccnumber: $("#chkaccnumber").val(), lockbox: $("#lockbox").val(), sortOrder: "" },
            success: function (data) {
                $("#divPartialViewAR").html(data);
                $("#loading1").removeClass("isloading");
            },
            error: function () {
                $("#loading1").removeClass("isloading");
            }


        });

        }, 1000));

     
        $("#checknumber").keyup(debounce(function () {
            $("#loading1").addClass("isloading");
        $.ajax({
            type: "POST",
            url: "/ARCustRemit/Search",
            data: { recordnumber: $("#recordnumber").val(), chkdepdate: $("#chkdepdate").val(), tochkdepdate: $("#tochkdepdate").val(), checknumber: $("#checknumber").val(), routingnumber: $("#routingnumber").val(), chkaccnumber: $("#chkaccnumber").val(), lockbox: $("#lockbox").val(), sortOrder: "" },
            success: function (data) {
                $("#divPartialViewAR").html(data);
                $("#loading1").removeClass("isloading");
            },
            error: function () {
                $("#loading1").removeClass("isloading");
            }


        });

        }, 1000));

        $("#routingnumber").keyup(debounce(function () {
            $("#loading1").addClass("isloading");
        $.ajax({
            type: "POST",
            url: "/ARCustRemit/Search",
            data: { recordnumber: $("#recordnumber").val(), chkdepdate: $("#chkdepdate").val(), tochkdepdate: $("#tochkdepdate").val(), checknumber: $("#checknumber").val(), routingnumber: $("#routingnumber").val(), chkaccnumber: $("#chkaccnumber").val(), lockbox: $("#lockbox").val(), sortOrder: "" },
            success: function (data) {
                $("#divPartialViewAR").html(data);
                $("#loading1").removeClass("isloading");
            },
            error: function () {
                $("#loading1").removeClass("isloading");
            }


        });

        }, 1000));

        $("#chkaccnumber").keyup(debounce(function () {
            $("#loading1").addClass("isloading");
        $.ajax({
            type: "POST",
            url: "/ARCustRemit/Search",
            data: { recordnumber: $("#recordnumber").val(), chkdepdate: $("#chkdepdate").val(), tochkdepdate: $("#tochkdepdate").val(), checknumber: $("#checknumber").val(), routingnumber: $("#routingnumber").val(), chkaccnumber: $("#chkaccnumber").val(), lockbox: $("#lockbox").val(), sortOrder: "" },
            success: function (data) {
                $("#divPartialViewAR").html(data);
                $("#loading1").removeClass("isloading");
            },
            error: function () {
                $("#loading1").removeClass("isloading");
            }


        });

        }, 1000));

        $("#lockbox").keyup(debounce(function () {
            $("#loading1").addClass("isloading");
            $.ajax({
                type: "POST",
                url: "/ARCustRemit/Search",
                data: { recordnumber: $("#recordnumber").val(), chkdepdate: $("#chkdepdate").val(), tochkdepdate: $("#tochkdepdate").val(), checknumber: $("#checknumber").val(), routingnumber: $("#routingnumber").val(), chkaccnumber: $("#chkaccnumber").val(), lockbox: $("#lockbox").val(), sortOrder: "" },
                success: function (data) {
                    $("#divPartialViewAR").html(data);
                    $("#loading1").removeClass("isloading");
                },
                error: function () {
                    $("#loading1").removeClass("isloading");
                }


            });

        }, 1000));

        //
   });


</script>

<h2>AR Customer Check</h2>

<table class="table">
<tr>
<td>Record Number: </td><td>@Html.TextBox("recordnumber")</td>
</tr>
<tr>
<td>Check Deposit Date From: </td><td>@Html.TextBox("chkdepdate")@Html.DisplayName(" mm/dd/yyyy")</td>
<td>Check Deposit Date To: </td><td>@Html.TextBox("tochkdepdate")@Html.DisplayName(" mm/dd/yyyy")</td>
</tr>
<tr>
<td>Check Number: </td><td>@Html.TextBox("checknumber")</td>
</tr>
<tr>
<td>Routing Number: </td><td>@Html.TextBox("routingnumber")</td>
</tr>
<tr>
<td>Check Account Number: </td><td>@Html.TextBox("chkaccnumber")</td>
</tr>
<tr>
<td>Lockbox: </td><td>@Html.TextBox("lockbox")</td>
</tr>
<tr>
<td style="white-space:nowrap;"><button type="button" id="searchap" class="btn btn-primary btn-sm">Search</button><div id="loading1" ></div>
</td>
</tr>
</table>

              
<div id="divPartialViewAR">
    @Html.Partial("_AR")
</div>
