@model WebRole1.Models.APInvoice

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>APInvoice</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.APInvoiceID)

        <div class="form-group">
            @Html.LabelFor(model => model.Record_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Record_Number)
                @Html.ValidationMessageFor(model => model.Record_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Invoice_Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice_Date)
                @Html.ValidationMessageFor(model => model.Invoice_Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Invoice_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice_Number)
                @Html.ValidationMessageFor(model => model.Invoice_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vendor_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vendor_Number)
                @Html.ValidationMessageFor(model => model.Vendor_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Vendor_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Vendor_Name)
                @Html.ValidationMessageFor(model => model.Vendor_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PO_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PO_Number)
                @Html.ValidationMessageFor(model => model.PO_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Invoice_Type_cd, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Invoice_Type_cd)
                @Html.ValidationMessageFor(model => model.Invoice_Type_cd)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
