@model IEnumerable<WebRole1.Models.APInvoice>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script src="~/Scripts/autocomplete.js"  type="text/javascript"></script>
<link href="~/Content/themes/base/jquery.ui.autocomplete.css" rel="stylesheet" />
<link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" type="text/css"/>
<script src="~/Scripts/jquery-1.10.2.js"  type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"  type="text/javascript"></script>




<script type="text/javascript">

    $(document).ready(function () {
        $("#searchap").click(function () {

           

            $.ajax({
                type: "POST",
                url: "/APInvoice/Search",
                data: { recordnumber: $("#recordnumber").val(), invoicedate: $("#invoicedate").val(), toinvoicedate: $("#toinvoicedate").val(), invoicenumber: $("#invoicenumber").val(), vendornumber: $("#vendornumber").val(), vendorname: $("#vendorname").val(), ponumber: $("#ponumber").val(), invoicetypecd: $("#invoicetypecd").val(), sortOrder: "" },
                success: function (data) {
                    $("#divPartialViewAP").html(data);
                },
                error: function () {
                    $("#divPartialViewAP").html("<h1>No Results</h1>");
                }


            });

        });
    

    
    $(function () {
        $("#recordnumber").autocomplete({
            source: '@Url.Action("GetAutoCompleteData")'

        });
    });

        $("#recordnumber").keyup(function () {
            $.ajax({
                type: "POST",
                url: "/APInvoice/Search",
                data: { recordnumber: $("#recordnumber").val(), invoicedate: $("#invoicedate").val(), toinvoicedate: $("#toinvoicedate").val(), invoicenumber: $("#invoicenumber").val(), vendornumber: $("#vendornumber").val(), vendorname: $("#vendorname").val(), ponumber: $("#ponumber").val(), invoicetypecd: "", sortOrder: "" },
                success: function (data) {
                    $("#divPartialViewAP").html(data);
                },
                error: function () {
                }


            });

    });

       

        $("#invoicenumber").keyup(function () {
            $.ajax({
                type: "POST",
                url: "/APInvoice/Search",
                data: { recordnumber: $("#recordnumber").val(), invoicedate: $("#invoicedate").val(), toinvoicedate: $("#toinvoicedate").val(), invoicenumber: $("#invoicenumber").val(), vendornumber: $("#vendornumber").val(), vendorname: $("#vendorname").val(), ponumber: $("#ponumber").val(), invoicetypecd: "", sortOrder: "" },
                success: function (data) {
                    $("#divPartialViewAP").html(data);
                },
                error: function () {
                }


            });

    });

        $("#vendornumber").keyup(function () {
            $.ajax({
                type: "POST",
                url: "/APInvoice/Search",
                data: { recordnumber: $("#recordnumber").val(), invoicedate: $("#invoicedate").val(), toinvoicedate: $("#toinvoicedate").val(), invoicenumber: $("#invoicenumber").val(), vendornumber: $("#vendornumber").val(), vendorname: $("#vendorname").val(), ponumber: $("#ponumber").val(), invoicetypecd: "", sortOrder: "" },
                success: function (data) {
                    $("#divPartialViewAP").html(data);
                },
                error: function () {
                }


            });

    });

        $("#vendorname").keyup(function () {
            $.ajax({
                type: "POST",
                url: "/APInvoice/Search",
                data: { recordnumber: $("#recordnumber").val(), invoicedate: $("#invoicedate").val(), toinvoicedate: $("#toinvoicedate").val(), invoicenumber: $("#invoicenumber").val(), vendornumber: $("#vendornumber").val(), vendorname: $("#vendorname").val(), ponumber: $("#ponumber").val(), invoicetypecd: "", sortOrder: "" },
                success: function (data) {
                    $("#divPartialViewAP").html(data);
                },
                error: function () {
                }


            });

        });

        $("#ponumber").keyup(function () {
            $.ajax({
                type: "POST",
                url: "/APInvoice/Search",
                data: { recordnumber: $("#recordnumber").val(), invoicedate: $("#invoicedate").val(), toinvoicedate: $("#toinvoicedate").val(), invoicenumber: $("#invoicenumber").val(), vendornumber: $("#vendornumber").val(), vendorname: $("#vendorname").val(), ponumber: $("#ponumber").val(), invoicetypecd: "", sortOrder: "" },
                success: function (data) {
                    $("#divPartialViewAP").html(data);
                },
                error: function () {
                }


            });

        });

    

        //
   });


</script>

<h2>AP Invoices</h2>


<table class="table">
<tr>
<td>Record Number: </td><td>@Html.TextBox("recordnumber")</td>
</tr>
<tr>
<td>Invoice Date From: </td><td>@Html.TextBox("invoicedate")@Html.DisplayName(" mm/dd/yyyy")</td>
<td>Invoice Date To: </td><td>@Html.TextBox("toinvoicedate")@Html.DisplayName(" mm/dd/yyyy")</td>
</tr>
<tr>
<td>Invoice Number: </td><td>@Html.TextBox("invoicenumber")</td>
</tr>
<tr>
<td>Vendor Number: </td><td>@Html.TextBox("vendornumber")</td>
</tr>
<tr>
<td>Vendor Name: </td><td>@Html.TextBox("vendorname")</td>
</tr>
<tr>
<td>PO Number: </td><td>@Html.TextBox("ponumber")</td>
</tr>
<tr>
<td> <button type="button" id="searchap" class="btn btn-primary btn-sm">Search</button>
    </td>
</tr>
</table>

              
<div id="divPartialViewAP">
    @Html.Partial("_AP")
</div>


