@model PagedList.IPagedList<WebRole1.Models.APCAInvoice>
@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">

    $(document).ready(function () {

        var valuesToSend = [];
        
        $("#download").click(function () {
            valuesToSend = [];
            $('input:checkbox:checked').each(function () {
                var value = $(this).attr('value').toString();
                value = value.trim();
                valuesToSend.push(value);
            });
            window.location.href = "/downloadDocuments.aspx?recordNumber=" + valuesToSend.toString() + "&docType=APCA";
        
        });
    })
</script>

<div>
 <font color="red">@ViewBag.TotalAPRecords</font>
</div>

<table class="table">
    <tr>
       <th></th>
        <th>
            @Html.DisplayName("Record Number")
        </th>
        <th>
            @Ajax.ActionLink("Invoice Date", "Index", new { sortOrder = ViewBag.DateSortParm, recordnumber = ViewBag.Currentrecordnumber, invoicedate = ViewBag.Currentinvoicedate, toinvoicedate = ViewBag.Currenttoinvoicedate, invoicenumber = ViewBag.Currentinvoicenumber, vendornumber = ViewBag.Currentvendornumber, vendorname = ViewBag.Currentvendorname, ponumber = ViewBag.Currentponumber, invoicetypecd = ViewBag.Currentinvoicetypecd }, new AjaxOptions{UpdateTargetId = "divPartialViewAPCA"})
           
            
        </th>
        <th>
            @Html.DisplayName("Invoice Number")
        </th>
        <th>
            @Html.DisplayName("Vendor Number")
        </th>
        <th>
            @Html.ActionLink("Vendor Name", "Index", new {sortOrder = ViewBag.VendorNameSortParm, recordnumber = ViewBag.Currentrecordnumber, invoicedate = ViewBag.Currentinvoicedate, toinvoicedate = ViewBag.Currenttoinvoicedate, invoicenumber = ViewBag.Currentinvoicenumber, vendornumber = ViewBag.Currentvendornumber, vendorname = ViewBag.Currentvendorname, ponumber = ViewBag.Currentponumber, invoicetypecd = ViewBag.Currentinvoicetypecd }, new AjaxOptions{UpdateTargetId = "divPartialViewAPCA"})
            
        </th>
        <th>
            @Html.DisplayName("PO Number")
        </th>
        <th>
            @Html.ActionLink("Invoice Type Code", "Index", new {sortOrder = ViewBag.InvoiceTypeSortParm, recordnumber = ViewBag.Currentrecordnumber, invoicedate = ViewBag.Currentinvoicedate, toinvoicedate = ViewBag.Currenttoinvoicedate, invoicenumber = ViewBag.Currentinvoicenumber, vendornumber = ViewBag.Currentvendornumber, vendorname = ViewBag.Currentvendorname, ponumber = ViewBag.Currentponumber, invoicetypecd = ViewBag.Currentinvoicetypecd }, new AjaxOptions{UpdateTargetId = "divPartialViewAPCA"})
            
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
       <td>
            <input type="checkbox" name="downloadInputs" value="@item.Record_Number">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Record_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PO_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_Type_cd)
        </td>
        <td>
            @{var separator = "|";}
            <a href="/downloadDocument.aspx?recordNumber=@item.Record_Number&docType=APCA">
                <img src="~/Content/images/Button-Download-icon.png" class="pic hvr-grow"  />
            </a>
            @if (System.Web.HttpContext.Current.Session["Role"] != null && System.Web.HttpContext.Current.Session["Role"].ToString() == "APCAAdmin")
            {   @separator
                <a href="@Url.Action("Delete", new { id = item.APCAInvoiceID })" >
                <img src="@Url.Content("~/Content/Images/delete-icon.png")" class="pic hvr-grow"  />
                </a>
            }
        </td>
        
    </tr>
}

</table>
<br />

<button type="button" id="download" class="btn btn-primary btn-sm" >Download</button>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index") + "?" +
    "recordnumber="+ViewBag.Currentrecordnumber+"&invoicedate="+ViewBag.Currentinvoicedate+"&toinvoicedate="+ViewBag.Currenttoinvoicedate+"&invoicenumber="+ViewBag.Currentinvoicenumber+"&vendornumber="+ViewBag.Currentvendornumber+"&vendorname="+ViewBag.Currentvendorname+"&ponumber="+ViewBag.Currentponumber+"&invoicetypecd="+ViewBag.Currentinvoicetypecd+"&page="+page+"&sortOrder="+ViewBag.CurrentSort , PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.PageNumbersOnly, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "divPartialViewAPCA" }))